<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yixz.mapper.SysRoleMenuMapper">

    <select id="getUserPermByUserName" resultType="org.yixz.entity.vo.UserRolePermVo">
        SELECT
        user.id,
        user.user_name,
        user.password,
        role.role_code,
        menu.perms
        FROM
        t_user user left join t_user_role userRole on user.id=userRole.user_id
        left join t_role role on role.id=userRole.role_id
        left join t_role_menu roleMenu on role.id=roleMenu.role_id
        left join t_menu menu on menu.id=roleMenu.menu_id
        <if test="menuType!=null">
            and menu.type=#{menuType}
        </if>
        <where>
            and user.user_name=#{userName}
        </where>
    </select>
</mapper>
